<html>
  <body style="margin: 0; background-color: #f8f8f8;">
    <main style="max-width: 768px;background-color: white;padding: 20px;">
      <img style="display:block; margin: 0 auto; width: 150px;" src="https://i.ibb.co/QHLymVV/logo.png" alt="Saki Lafée"/>
      <h2 style="font-family: 'Arial', sans-serif; text-align: center;">Réinitialisation du mot de passe</h2>
      <p style="font-family: 'Arial', sans-serif; text-align: center;">Si vous avez perdu votre mot de passe ou souhaitez le réinitialiser, utilisez le lien ci-dessous pour commencer.</p>
      <a href="{{link}}" style="text-align: center; display: block; background-color: #e4c581; width: max-content; margin: 50px auto 0 auto; color: white; padding: 15px; font-family: 'Arial', sans-serif;">Réinitialisez votre mot de passe</a>
      <p style="font-family: 'Arial', sans-serif; text-align: center; margin: 50px 0 0 0; font-style: italic; font-size: 12px; color: darkgray;">Si vous n'avez pas demandé de réinitialisation de mot de passe, vous pouvez ignorer cet e-mail en toute sécurité. Seule une personne ayant accès à votre e-mail peut réinitialiser le mot de passe de votre compte.</p>
    </main>
  </body>
</html>