<html>
  <body style="margin: 0; background-color: #f8f8f8">
    <main style="max-width: 768px; background-color: white; padding: 20px">
      <img
        style="display: block; margin: 0 auto; width: 150px"
        src="https://i.ibb.co/QHLymVV/logo.png"
        alt="Saki Lafée"
      />
      <h2 style="font-family: 'Arial', sans-serif; text-align: center">
        Bienvenue {{firstName}} !
      </h2>
      <p style="font-family: 'Arial', sans-serif; text-align: center">
        Merci de vous être inscrit sur Saki Lafée !
        <br />
        Nous avons besoin de confirmer votre compte afin que vous
        puissiez accéder à notre site internet.
      </p>
      <a
        href="{{link}}"
        style="
          text-align: center;
          display: block;
          background-color: #e4c581;
          width: max-content;
          margin: 50px auto 0 auto;
          color: white;
          padding: 15px;
          font-family: 'Arial', sans-serif;
        "
        >Confirmer mon compte</a
      >
    </main>
  </body>
</html>
